
@media screen and (max-width: 991px) {

    /* nav-bar */

    .main-nav{
        display: block;
        text-align: center;
    }

    .nav-links ul {
        justify-content: space-around;
    }


    /* companies-section */

    .section1 .companies-image img {
        width: 30%;
    }


    /* feature-section */

    .different-features div {
        width: 47%;
    }


    /* example section */

    .example-section {
        flex-wrap: wrap;
        /* gap: calc(47%-20px); */
        gap: 20px;
    }


    .examples {
        width: 47%;
        height: 500px;
        padding: 30px 30px;
    }


    /* sub-footer-section */

    .sub-foot-content {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

    .sub-foot-content .part1, .sub-foot-content .part2 {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}



@media screen and (max-width: 767px) {
    
    .content {
        width: 90vw;
    }




    /* header-section */

    .main-nav div.menu {
        display: block;
    }
    .main-nav div.nav-links {
        display: none;
    }


    /* header-section */

    .main-header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .header-image {
        margin-left: 10%;
    }
    .header-image img {
        width: 90%;
    }


    /* companies-section */

    .section1 .companies-image img {
        width: 220px;
    }

    .section1 .companies-image #img-name-box {
        width: 100px;
    }

    .section1 .companies-image {
        justify-content: space-evenly;
        gap: 20px;
    }


    /* feature-section */

    .different-features div {
        width: 90%;
    }



    /* big-feature-section -- section3 */

    .section3 {
        /* flex-wrap: wrap; */

        /* or */

        flex-direction: column;
    }


    /* big-feature-section -- section4 */

    .section4 {
        flex-direction: column-reverse;
        
    }

    /* section5 already done through section3 */



    /* example section */

    .example-section {
        flex-wrap: wrap;
        /* gap: calc(47%-20px); */
        gap: 20px;
    }

    .examples {
        width: 90%;
        height: 500px;
    }

    .examples h3 {
        padding: 0 30px 20px;
    }




    /* big-feature-section7 */

    .section7 .content {
        width: 90vw;
    }

    .main-list {
        flex-wrap: wrap;
        gap: 0;
    }

    .section7 .content a.make-center {
        display: block;
        text-align: center;
        width: 40vw;
        min-width:  150px;
        margin-inline: auto;
    }



    /* footer-section */

    .footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
    }


    /* sub-footer-section */

    .sub-foot-content {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

    .sub-foot-content .part1, .sub-foot-content .part2 {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}